<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendSmart</title>
    <link rel="stylesheet" href="../static/styles/base.css?{{ cache_id }}" media="all">
    <link rel="stylesheet" href="../static/styles/site-header.css?{{ cache_id }}" media="all">
    <link rel="shortcut icon" href="../static/images/logo.jpg?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/base.js?{{ cache_id }}"></script>
    <script src="https://kit.fontawesome.com/59edf69022.js" crossorigin="anonymous"></script>
    {% block links %}
    {% endblock %}
</head>
<body>
	<header>
		<button class="menu-bar">☰</button>
		<h1>SpendSmart</h1>
	</header>
    <div class="main-grid">
        <nav>
                <li id="web-logo">
                    <a href="{{ url_for('main.home') }}">
                        <img src="../static/images/web-logo.jpg">
			<h1>SpendSmart</h1>
                    </a>
                </li>
            <ul>
                <li id="dashboard-nav">
                    <a href="{{ url_for('collection.dashboard') }}">
                        <img src="../static/images/dashboard.svg">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li id="notifications-nav">
                    <a href="{{ url_for('main.notifications') }}">
                        <img src="../static/images/alert-bell.svg">
                        <span>Notifications</span>
                        <button>{{ notifications | length }}</button>
                    </a>
                </li>
                <li id="log-expense-nav">
                    <a href="{{ url_for('main.log_expense_page') }}">
                        <img src="../static/images/log.svg">
                        <span>Log an expense</span>
                    </a>
                </li>
                <li id="track-nav">
                    <a href="{{ url_for('collection.track_collection_page') }}">
                        <img src="../static/images/watch.svg">
                        <span>Set new Budget Monitor</span>
                    </a>
                </li>
                <li id="account-nav">
                    <a href="{{ url_for('auth.account_page') }}">
                        <img src="../static/images/account.svg">
                        <span>Account</span>
                    </a>
                </li>
                <li id="logout-nav">
                    <a href="{{ url_for('auth.logout') }}">
                        <img src="../static/images/logout.svg" alt="Logout icon">
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="site-footer">
		<p>&copy; 2024 SpendSmart. All rights reserved.</p>
	</footer>

</body>
</html>

