{% extends 'base.html' %}
{% block links %}
<link type="text/css" href="../static/styles/dashboard.css?{{ cache_id }}" rel="stylesheet">
<script src="../static/scripts/dashboard.js?{{ cache_id }}"></script>
{% endblock %}
	{% block content %}
	{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
	<section class="analytics">
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$250.00</strong>
				</div>
				<div class="percentage">
					80%
				</div>
			</div>
			<h3>Groceries</h3>
		</div>
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$250.00</strong>
				</div>
				<div class="percentage">
					40%
				</div>
			</div>
			<h3>HouseHold It...</h3>
		</div>
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$450.00</strong>
				</div>
				<div class="percentage">
					90%
				</div>
			</div>
			<h3>Food</h3>
		</div>
	</section>
	<h2>Recent Purchases</h2>
	<section class="purchases-container">
		<table>
			<tr>
				<th>Expense</th>
				<th>Amount</th>
				<th>Category</th>
			</tr>
			{% for expense in expenses %}
			<tr>
				<td>{{ expense.name }}</td>
				<td>{{ expense.price }}</td>
				{% set ns = namespace(collection_name=none) %}
				{% for collection in collections %}
					{% if collection.id == expense.collection_id %}
						{% set ns.collection_name = collection.name %}
					{% endif %}
				{% endfor %}
				<td id="">{{ns.collection_name }}</td>
			</tr>
			{% endfor %}
		</table>
		<a href="#">Show all</a>
	</section>

	{% endblock %}
