{% extends 'base.html' %}
{% block links %}
<link type="text/css" href="../static/styles/dashboard.css?{{ cache_id }}" rel="stylesheet">
<script src="../static/scripts/dashboard.js?{{ cache_id }}"></script>
{% endblock %}
	{% block content %}
	{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
	<section class="analytics">
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$250.00</strong>
				</div>
				<div class="percentage">
					80%
				</div>
			</div>
			<h3>Groceries</h3>
		</div>
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$250.00</strong>
				</div>
				<div class="percentage">
					40%
				</div>
			</div>
			<h3>HouseHold It...</h3>
		</div>
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Total spent</span>
					<strong>$450.00</strong>
				</div>
				<div class="percentage">
					90%
				</div>
			</div>
			<h3>Food</h3>
		</div>
	</section>
	<h2>Recent Purchases</h2>
	<section class="purchases-container">
		<table>
			<tr>
				<th>Expense</th>
				<th>Amount</th>
				<th>Category</th>
			</tr>
			<tr>
				<td>1 bar of soap</td>
				<td>150</td>
				<td>household-items</td>
			</tr>
			<tr>

				<td>1 dosen of glasses</td>
				<td>350</td>
				<td>household-items</td>
			</tr>

			<tr>

				<td>1 packed of wheat flour</td>
				<td>100</td>
				<td>food</td>
			</tr>
		</table>
		<a href="#">Show all</a>
	</section>

	{% endblock %}
