{% extends 'base.html' %}
{% block links %}
<link type="text/css" href="../static/styles/dashboard.css?{{ cache_id }}" rel="stylesheet">
<script src="../static/scripts/dashboard.js?{{ cache_id }}"></script>
<script defer>
  const show_less = "{{ url_for('main.dashboard') }}";
</script>
{% endblock %}
	{% block content %}
	{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
	<section class="analytics">
		{% for collection in collections %}
		<div class="category-card">
			<img src="../static/images/bill.svg">
			<div class="overview">
				<div class="status">
					<span>Max limit</span>
					<strong>{{collection.limit }}</strong>
				</div>
				<div class="percentage">
					80%
				</div>
			</div>
			<h3>{{ collection.name }}</h3>
		</div>
		{% endfor %}
	</section>
	<h2>Recent Purchases</h2>
	<section class="purchases-container">
		<table>
			<tr>
				<th>Expense</th>
				<th>Amount</th>
				<th>Category</th>
			</tr>
			{% for expense in expenses %}
			<tr>
				<td>{{ expense.name }}</td>
				<td>{{ expense.price }}</td>
				{% set ns = namespace(collection_name='none') %}
				{% for collection in collections %}
					{% if collection.id == expense.collection_id %}
						{% set ns.collection_name = collection.name %}
					{% endif %}
				{% endfor %}
				<td id="">{{ns.collection_name }}</td>
			</tr>
			{% endfor %}
		</table>
		<a id="show-all" href="{{ url_for('main.show_all_purchases') }}">Show all</a>
	</section>

	{% endblock %}
