{% extends 'base.html' %}
{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="../static/styles/track_collection.css?{{ cache_id }}">
<link rel="stylesheet" href="../static/styles/dashboard.css?{{ cache_id }}">
<script src="../static/scripts/track_collection.js?{{ cache_id }}"></script>
{% endblock %}
{% block content %}
<div class="form-container">
    <form id="tracking-form" method="post" action="{{ url_for('main.track_collection') }}">
        <div class="form-group">
            <label for="name-input" class="form-label">Collection Name</label>
            <input id="name-input" class="form-input" type="text" name="name" placeholder="Groceries" required="required" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="description-input" class="form-label">Description</label>
	    <textarea id="description-input" class="form-input" rows="2" type="text" name="description" autocomplete="off">my shopping stuff for cooking</textarea>
        </div>
        <div class="form-group">
            <label for="limit-input" class="form-label">Limit</label>
            <input id="limit-input" class="form-input" type="number" name="limit" min="0.1" step="any" autocomplete="off">
        </div>
        <div class="form-group date-container">
            <h3 class="form-label duration-span">Tracking duration</h3>
            <label for="start-date-input" class="form-label">From: </label>
            <input id="start-date-input" class="form-input" placeholder="Select Date" type="text" name="tracking_start_date" autocomplete="off">
            <label for="end-date-input" class="form-label">To: </label>
            <input id="end-date-input" class="form-input" type="text" placeholder="Select Date" name="tracking_end_date" autocomplete="off">
        </div>
        <button type="submit" class="form-button">Submit</button>
    </form>
</div>
{% endblock %}

